services:
  pgdb:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - local_pgdata:/var/lib/postgresql

volumes:
  local_pgdata:
